
<div class= "star-wrap" *ngFor="let level of [1,2,3]">
  <h2 class="title">{{ level }} ★ Star</h2>

  <div class="items-grid">
    <div
      class="item"
      *ngFor="let item of groupedItems[level]"
      [ngClass]="getRarityClass(item.Quality)"
    >
      <img class="icon" [src]="'../assets/items/' + item.Icon" />
      <div class="bottom-row">

        <span class="red">{{ item.PickUpPoint }}</span>
        <!-- <span>{{ item.MaxPickUpNum }}</span> -->
        <span>{{ item.Weight | number:'1.2-2' }}%</span>
      </div>
    </div>
  </div>
</div>
