<header class="header">
  <ul class="main-menu">
    <li class="menu-item">
      <a routerLink="/home">Arcana</a>
    </li>
    <li class="menu-item">
      <a routerLink="/healing">Healing
        <img src="assets/other/chevron-down.svg">
      </a>
      <div class="header-dropdown-menu">
        <a routerLink="/healing/guide">
          <div class="title-tags">
            <span class="title">Guide</span>
          </div>
          <p class="description">truly worthy of a reddit gold</p>
        </a>
        <a routerLink="/healing/teams">
          <div class="title-tags">
            <span class="title">Teams</span>
          </div>
          <p class="description">don't show this to eren he might just MA all over the page</p>
        </a>
        <a routerLink="/healing/calculator" class="beta">
          <div class="title-tags">
            <span class="title">Calculator</span>
            <span class="beta-tag-dd">Beta</span>
          </div>
          <p class="description">when hard coded excel tables just aren't enough for you</p>
        </a>
      </div>
    </li>
    <li class="menu-item wip">
      <a routerLink="/guides">Guides</a>
      <span class="wip-tag">WIP</span>
    </li>
    <!-- <li class="menu-item beta" EXAMPLE BETA TAG USAGE>
      -- main div stuff --
      <span class="beta-tag">Beta</span>
    </li> -->
    <li class="menu-item wip">
      <a>Index
        <img src="assets/other/chevron-down.svg">
      </a>
      <div class="header-dropdown-menu">
        <a routerLink="/units-index">
          <div class="title-tags">
            <span class="title">Simulacra</span>
          </div>
          <p class="description">the people of fantasy tower</p>
        </a>
        <a routerLink="matrices-index">
          <div class="title-tags">
            <span class="title">Matrices</span>
          </div>
          <p class="description">rectangular casino chips</p>
        </a>
        <a routerLink="relics-index">
          <div class="title-tags">
            <span class="title">Relics</span>
          </div>
          <p class="description">uhm</p>
        </a>
      </div>
      <span class="wip-tag">WIP</span>
    </li>
    <li class="menu-item">
      <a routerLink="/glossary">Glossary</a>
    </li>
    <li class="menu-item">
      <a routerLink="/about-us">About Us</a>
    </li>
  </ul>
  <div class="main-menu_mobile">
    <h3 class="home">
      <a routerLink="/home">Arcana</a>
    </h3>
    <img class="menu-icon" src="assets/other/menu-icon.svg" alt="">
    <ul class="burger-menu">
      <li class="menu-item">
        <a class="hyperlink" routerLink="/healing">
          <div class="item-wrapper">
            <img src="assets/other/double-cross.svg" alt="Healing Guide Icon">
            <span>Healing</span>
          </div>
          <img src="assets/other/arrow-right.svg" alt="Right Arrow">
        </a>
      </li>
      <li class="menu-item">
        <a class="hyperlink" routerLink="/guides">
          <div class="item-wrapper">
            <img src="assets/other/guides.svg" alt="Guides Icon">
            <span>Guides</span>
          </div>
          <img src="assets/other/arrow-right.svg" alt="Right Arrow">
        </a>
      </li>
      <li class="menu-item beta">
        <a class="hyperlink" routerLink="/units-index">
          <div class="item-wrapper">
            <img src="assets/other/guides.svg" alt="Beta Icon">
            <span>Index</span>
          </div>
          <img src="assets/other/arrow-right.svg" alt="Right Arrow">
        </a>
      </li>
      <li class="menu-item">
        <a class="hyperlink" routerLink="/glossary">
          <div class="item-wrapper">
            <img src="assets/other/dev.svg" alt="Glossary Icon">
            <span>Glossary</span>
          </div>
          <img src="assets/other/arrow-right.svg" alt="Right Arrow">
        </a>
      </li>
      <li class="menu-item">
        <a class="hyperlink" routerLink="/about-us">
          <div class="item-wrapper">
            <img src="assets/other/dev.svg" alt="About Us Icon">
            <span>About Us</span>
          </div>
          <img src="assets/other/arrow-right.svg" alt="Right Arrow">
        </a>
      </li>
    </ul>
  </div>
</header>