<footer class="footer">
  <div>
    <img src="../assets/other/mana.svg" alt="Mana Icon">
    <span>Arcana Sanctuary</span>
  </div>
  <div class="footer-nav-container">
    <ul class="nav">
      <!-- fill it as we go -->
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/healing">Healing</a>
      </li>
      <li>
        <a routerLink="/guides">Guides</a>
      </li>
      <li>
        <a routerLink="/units-index">Index</a>
      </li>
      <li>
        <a routerLink="/glossary">Glossary</a>
      </li>
      <li>
        <a routerLink="/about-us">About Us</a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <span>© 2024 Arcana Sanctuary.</span>
  </div>
</footer>