@import '../../styles.scss';

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    border-top: 2px solid $border; // should be new $border color
    font-size: 18px;
    font-weight: 300;

    .sanctuary {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .nav {
        display: flex;
        gap: 30px;

        li {
            a {
                transition: 0.2s ease-out;

                &:hover {
                    color: $link;
                }
            }
        }
    }
}

@media only screen and (max-width: $laptopL) {
    .footer {
        .nav {
            gap: 16px;
        }
    }
}

@media only screen and (max-width: $laptop) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .nav {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .footer {
        gap: 12px;

        .nav {
            gap: 12px;
        }
    }
}