<section class="main" *ngIf="unit">
  <div class="header-element">
    <div class="header-splash"
      style="background-image: url(&quot;../assets/splashart/{{unit?.slug}}_a3_splashart.webp&quot;);">
    </div>
    <div class="header-splash_mobile">
      <img src="assets/splashart/{{unit?.slug}}_a3_splashart.webp" alt="Character splash art"> 
    </div>
    <div class="header-content">
      <div class="unit-wrapper">
        <div class="unit-avatar">
          <img src="assets/simulacra/{{unit?.slug}}_avatar.webp" alt="Character avatar">
        </div>
        <div class="unit-name-element">
          <div class="unit-name">
            <span>{{unit?.name[0]}}</span>
          </div>
          <div class="unit-weapon-name">
            <span>{{unit?.weapon}}</span>
          </div>
          <div class="unit-element">
            <img src="assets/elements/{{unit?.resonance}}.png" alt="Resonance Icon">
            <img src="assets/elements/{{unit?.element}}.png" alt="Element Icon">
          </div>
        </div>
      </div>
      <div class="unit-description">
        <span><i style="font-size:24px; margin: 0 4px 0 0;"class="fa fa-quote-left"></i>{{unit?.weaponDescription}}</span>
      </div>
      <div class="unit-stats">
        <div class="stats-title">Attributes</div>
        <div class="top-stats">
          <div *ngIf="unit?.hasAtk" class="stats">
            <img src="assets/stats/icon_atk.webp" alt="Attack Icon">
            <span>ATK</span>
          </div>
          <div *ngIf="unit?.hasHP" class="stats">
            <img src="assets/stats/icon_hp.webp" alt="HP Icon">
            <span>HP</span>
          </div>
          <div *ngIf="unit?.hasCrit" class="stats">
            <img src="assets/stats/icon_crit.webp" alt="Crit Icon">
            <span>CRIT</span>
          </div>
          <div *ngIf="unit?.hasRes" class="stats">
            <img src="assets/stats/icon_res.webp" alt="Resistance Icon">
            <span>RES</span>
          </div>
        </div>
        <div class="bottom-stats">
          <div class="stats">
            <span class="grade" *ngIf="unit?.charge <= 7.49">B</span>
            <span class="grade" *ngIf="unit?.charge >= 7.50 && unit?.charge <= 10.50">A</span>
            <span class="grade" *ngIf="unit?.charge >= 10.51 && unit?.charge <= 14.00">S</span>
            <span class="grade" *ngIf="unit?.charge >= 14.01">SS</span>
            <span class="value">Charge {{unit?.charge}}</span>
          </div>
          <div class="stats">
            <span class="grade" *ngIf="unit?.shatter <= 7.49">B</span>
            <span class="grade" *ngIf="unit?.shatter >= 7.50 && unit?.shatter <= 10.50">A</span>
            <span class="grade" *ngIf="unit?.shatter >= 10.51 && unit?.shatter <= 14.00">S</span>
            <span class="grade" *ngIf="unit?.shatter >= 14.01">SS</span>
            <span class="value">Shatter {{unit?.shatter}}</span>
          </div>
        </div>
      </div>
      <div class="unit-roles">
        <div class="stats-title">Roles</div>
        <div class="roles-grid">
          <div *ngFor="let roles of unit.roles" class="roles">
            <img [src]="processRoleSlug(roles)">
            <span>{{roles}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body-element">
    <div class="tabs">
      <div class="tab" data-tab="profile" (click)="setActiveTab(unit)" [class.active]="activeTab === unit">
        <img src="assets/other/profile-icon.svg" alt="Profile Icon">
        <span>Profile</span>
      </div>
      <div class="tab" data-tab="matrix" (click)="setActiveTab(unit)" [class.active]="activeTab === unit">
        <img src="assets/other/matrix-icon.svg" alt="Matrix Icon">
        <span>Matrix</span>
      </div>
      <div class="tab" data-tab="materials" (click)="setActiveTab(unit)" [class.active]="activeTab === unit">
        <img src="assets/other/materials-icon.svg" alt="Materials Icon">
        <span>Materials</span>
      </div>
      <div class="tab" data-tab="guide" (click)="setActiveTab(unit)" [class.active]="activeTab === unit">
        <img src="assets/other/guide-icon.svg" alt="Guide Icon">
        <span>Guide</span>
      </div>
    </div>
    <div class="profile-part">
      <div class="info-selection">
        <a class="info" (click)="setActiveInfo($event)" #info>Advancements</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Effects</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Attacks</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Dodge</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Skill</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Discharge</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Trait</a>
        <div class="underline"></div>
      </div>
      <div class="scroll">
        <!-- ADVANCEMENTS-->
        <div class="advancements-table" *ngIf="activeInfo === 'Advancements'">
          <div class="advancements-table-row">
            <div class="advancements-star-column">
              1 ★
            </div>
            <div class="advancements-text-column">
              <div *ngFor="let item of unit?.oneStar">
                <p [innerHTML]="sanitizeHtml(item.paragraph)"></p>
              </div>
            </div>
          </div>
          <div class="advancements-table-row">
            <div class="advancements-star-column">
              2 ★
            </div>
            <div class="advancements-text-column">
              <div *ngFor="let item of unit?.twoStar">
                <p [innerHTML]="sanitizeHtml(item.paragraph)"></p>
              </div>
            </div>
          </div>
          <div class="advancements-table-row">
            <div class="advancements-star-column">
              3 ★
            </div>
            <div class="advancements-text-column">
              <div *ngFor="let item of unit?.threeStar">
                <p [innerHTML]="sanitizeHtml(item.paragraph)"></p>
              </div>
            </div>
          </div>
          <div class="advancements-table-row">
            <div class="advancements-star-column">
              4 ★
            </div>
            <div class="advancements-text-column">
              <div *ngFor="let item of unit?.fourStar">
                <p [innerHTML]="sanitizeHtml(item.paragraph)"></p>
              </div>
            </div>
          </div>
          <div class="advancements-table-row">
            <div class="advancements-star-column">
              5 ★
            </div>
            <div class="advancements-text-column">
              <div *ngFor="let item of unit?.fiveStar">
                <p [innerHTML]="sanitizeHtml(item.paragraph)"></p>
              </div>
            </div>
          </div>
          <div class="advancements-table-row">
            <div class="advancements-star-column">
              6 ★
            </div>
            <div class="advancements-text-column">
              <div *ngFor="let item of unit?.sixStar">
                <p [innerHTML]="sanitizeHtml(item.paragraph)"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- EFFECTS -->
        <div class="attack-wrap" *ngIf="activeInfo === 'Effects'">
          <div class="attack-container" *ngFor="let item of unit?.effects">
            <div class="attack-heading-wrap">
              <div class="attack-heading">
                <div class="attack-name">{{ item.name }}</div>
              </div>
            </div>
            <div class="attack-description">
              <div class="attack-paragraph" *ngFor="let desc of item.description">
                <p [innerHTML]="sanitizeHtml(desc.paragraph)"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- ATTACKS-->
        <div class="attack-wrap" *ngIf="activeInfo === 'Attacks'">
          <div class="attack-container" *ngFor="let item of unit?.attacks">
            <div class="attack-heading-wrap">
              <img class="attack-icon" src="assets/simulacra/abilities/{{item.icon}}" alt="Normal Attack Icon">
              <div class="attack-heading">
                <div class="attack-name">{{ item.name }}</div>
                <div class="attack-method-wrap">
                  <div class="attack-method" *ngFor="let meth of item.method">
                    <div *ngIf="meth">
                      <p>{{ meth }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="attack-description">
              <div class="attack-paragraph" *ngFor="let desc of item.description">
                <p [innerHTML]="sanitizeHtml(desc.paragraph)"></p>
              </div>
            </div>
            <div *ngIf="item.hasChain">
              <ul>
                <li *ngFor="let combo of item.chain; let i = index">
                  <span class="number">{{ i + 1 }}</span>
                  <span>.</span>
                  <span class="text" [innerHTML]="sanitizeHtml(combo.combo)"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- DODGE-->
        <div class="attack-wrap" *ngIf="activeInfo === 'Dodge'">
          <div class="attack-container" *ngFor="let item of unit?.dodge">
            <div class="attack-heading-wrap">
              <img class="attack-icon" src="assets/simulacra/abilities/{{item.icon}}" alt="Dodge Attack Icon">
              <div class="attack-heading">
                <div class="attack-name">{{ item.name }}</div>
                <div class="attack-method-wrap">
                  <div class="attack-method" *ngFor="let meth of item.method">
                    <div *ngIf="meth">
                      <p>{{ meth }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="attack-description">
              <div class="attack-paragraph" *ngFor="let desc of item.description">
                <p [innerHTML]="sanitizeHtml(desc.paragraph)"></p>
              </div>
            </div>
            <div *ngIf="item.hasChain">
              <ul>
                <li *ngFor="let combo of item.chain; let i = index">
                  <span class="number">{{ i + 1 }}</span>
                  <span>.</span>
                  <span class="text" [innerHTML]="sanitizeHtml(combo.combo)"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- SKILLS-->
        <div class="attack-wrap" *ngIf="activeInfo === 'Skill'">
          <div class="attack-container" *ngFor="let item of unit?.skill">
            <div class="attack-heading-wrap">
              <img class="attack-icon" src="assets/simulacra/abilities/{{item.icon}}" alt="Skill Icon">
              <div class="attack-heading">
                <div class="attack-name">{{ item.name }}</div>
              </div>
            </div>
            <div class="attack-description">
              <div class="attack-paragraph" *ngFor="let desc of item.description">
                <p [innerHTML]="sanitizeHtml(desc.paragraph)"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- DISCHARGE-->
        <div class="attack-wrap" *ngIf="activeInfo === 'Discharge'">
          <div class="attack-container" *ngFor="let item of unit?.discharge">
            <div class="attack-heading-wrap">
              <img class="attack-icon" src="assets/simulacra/abilities/{{item.icon}}" alt="Discharge Icon">
              <div class="attack-heading">
                <div class="attack-name">{{ item.name }}</div>
              </div>
            </div>
            <div class="attack-description">
              <div class="attack-paragraph" *ngFor="let desc of item.description">
                <p [innerHTML]="sanitizeHtml(desc.paragraph)"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- TRAIT-->
        <div class="attack-wrap" *ngIf="activeInfo === 'Trait'">
          <div class="attack-container" *ngFor="let item of unit?.trait">
            <div class="attack-heading-wrap">
              <img class="trait-icon" src="assets/trait/{{unit.slug}}_{{item.affinity}}.png" alt="Trait Icon">
              <div class="attack-heading">
                <div class="attack-name">{{ item.affinity }}</div>
              </div>
            </div>
            <div class="attack-description">
              <div class="attack-paragraph" *ngFor="let desc of item.description">
                <p [innerHTML]="sanitizeHtml(desc.paragraph)"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Matrices-->
    <div class="matrix-part">
      <div class="attack-wrap" *ngIf="matrix['twopc'] && matrix['twopc'].effect">
        <!-- Display 2pc effect -->
        <div *ngIf="matrix['twopc'] && matrix['twopc'].effect">
          <div class="attack-heading-wrap">
            <div class="attack-heading">
              <div class="attack-name">2-Piece</div>
              <div class="attack-method-wrap">
                <div class="attack-method" *ngFor="let buff of matrix['twopc'].buffs">
                  <div *ngIf="buff">
                    <p>{{ buff }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let effect of matrix['twopc'].effect">
            <div class="attack-container">
              <div class="attack-paragraph">
                <p [innerHTML]="sanitizeHtml(effect.paragraph)"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Display 3pc effect -->
        <div *ngIf="matrix['threepc'] && matrix['threepc'].effect">
          <div class="attack-heading-wrap">
            <div class="attack-heading">
              <div class="attack-name">3-Piece</div>
              <div class="attack-method-wrap">
                <div class="attack-method" *ngFor="let buff of matrix['threepc'].buffs">
                  <div *ngIf="buff">
                    <p>{{ buff }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let effect of matrix['threepc'].effect">
            <div class="attack-container">
              <div class="attack-paragraph">
                <p [innerHTML]="sanitizeHtml(effect.paragraph)"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Display 4pc effect -->
        <div *ngIf="matrix['fourpc'] && matrix['fourpc'].effect">
          <div class="attack-heading-wrap">
            <div class="attack-heading">
              <div class="attack-name">4-Piece</div>
              <div class="attack-method-wrap">
                <div class="attack-method" *ngFor="let buff of matrix['fourpc'].buffs">
                  <div *ngIf="buff">
                    <p>{{ buff }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let effect of matrix['fourpc'].effect">
            <div class="attack-container">
              <div class="attack-paragraph">
                <p [innerHTML]="sanitizeHtml(effect.paragraph)"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Materials -->
    <div class="materials-part">
      <div class="slider-wrap">
        <div class="materials-slider">
          <div class="materials-title">Select Level</div>
          <mat-slider [min]="0" [max]="200" [step]="10" [discrete]="true" [showTickMarks]="true"
            [(ngModel)]="sliderValues" (input)="onSliderChange()">
            <input matSliderStartThumb [(ngModel)]="startvalue" (change)="onSliderChange()">
            <input matSliderEndThumb [(ngModel)]="endvalue" (change)="onSliderChange()">
          </mat-slider>
        </div>
        <div class="materials-augment">
          <div class="materials-title">Augment</div>
          <div class="materials-augment-details">
            <div class="materials-augment-text">
              <div class="materials-text">Materials required for augmentation from level {{startvalue}} to level {{endvalue}}</div>
              <div class="materials-text materials-req">Required wanderer level {{endvalue/2}}</div>
            </div>
            <div class="materials-wrap">
              <ng-container *ngFor="let material of totalMaterialsArray; let i = index">
                <ng-container *ngIf="i !== 0">
                  <div class="material-card" [style.background-color]="materialsColour[i]">
                    <div class="content-wrapper"
                      style="background-image: url(&quot;../assets/materials/{{material[0]}}.png&quot;);">
                      <div class="details-container">
                        <h5 class="name">{{ material[1] }}</h5>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="materials-enhance">
          <div class="materials-title">Enhance</div>
          <div class="materials-enhance-details">
            <div class="materials-text">Materials required for enhancement from level {{startvalue}} to level {{endvalue}}</div>
            <div class="materials-wrap">
              <ng-container *ngFor="let material of totalMaterialsArray; let i = index">
                <ng-container *ngIf="i == 0">
                  <div class="material-card" [style.background-color]="materialsColour[i]">
                    <div class="content-wrapper"
                      style="background-image: url(&quot;../assets/materials/augmentGold.png&quot;);">
                      <div class="details-container">
                        <h5 class="name">{{ material[1] }}</h5>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let material of totalMaterialsArray; let i = index">
                <ng-container *ngIf="i == 0">
                  <div class="material-card" [style.background-color]="materialsColour[i]">
                    <div class="content-wrapper"
                      style="background-image: url(&quot;../assets/materials/experience.png&quot;);">
                      <div class="details-container">
                        <h5 class="name">{{ material[1] }}</h5>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>