<section class="main" *ngIf="unit">
  <div class="header-element">
    <div class="header-content">
      <div class="unit-wrapper">
        <div class="unit-avatar">
          <img src="assets/simulacra/{{unit?.slug}}_avatar.webp" alt="Character avatar">
        </div>
        <div class="unit-name-element">
          <div class="unit-name">
            <span>{{unit?.name[0]}}</span>
          </div>
          <div class="unit-weapon-name">
            <span>{{unit?.weapon}}</span>
          </div>
          <div class="unit-element">
            <img src="assets/elements/{{unit?.resonance}}.png" alt="Resonance Icon">
            <img src="assets/elements/{{unit?.element}}.png" alt="Element Icon">
          </div>
        </div>
      </div>
      <div class="unit-description">
        <span><i style="font-size:24px; margin: 0 4px 0 0;" class="fa fa-quote-left"></i>{{unit?.weaponDescription}}</span>
      </div>
      <div class="unit-stats">
        <div class="stats-title">Attributes</div>
        <div class="top-stats">
          <div *ngIf="unit?.hasAtk" class="stats">
            <img src="assets/stats/icon_atk.webp" alt="Attack Icon">
            <span>ATK</span>
          </div>
          <div *ngIf="unit?.hasHP" class="stats">
            <img src="assets/stats/icon_hp.webp" alt="HP Icon">
            <span>HP</span>
          </div>
          <div *ngIf="unit?.hasCrit" class="stats">
            <img src="assets/stats/icon_crit.webp" alt="Crit Icon">
            <span>CRIT</span>
          </div>
          <div *ngIf="unit?.hasRes" class="stats">
            <img src="assets/stats/icon_res.webp" alt="Resistance Icon">
            <span>RES</span>
          </div>
        </div>
        <div class="bottom-stats">
          <div class="stats">
            <span class="grade" *ngIf="unit?.charge <= 7.49">B</span>
            <span class="grade" *ngIf="unit?.charge >= 7.50 && unit?.charge <= 10.50">A</span>
            <span class="grade" *ngIf="unit?.charge >= 10.51 && unit?.charge <= 14.00">S</span>
            <span class="grade" *ngIf="unit?.charge >= 14.01">SS</span>
            <span class="value">Charge {{unit?.charge}}</span>
          </div>
          <div class="stats">
            <span class="grade" *ngIf="unit?.shatter <= 7.49">B</span>
            <span class="grade" *ngIf="unit?.shatter >= 7.50 && unit?.shatter <= 10.50">A</span>
            <span class="grade" *ngIf="unit?.shatter >= 10.51 && unit?.shatter <= 14.00">S</span>
            <span class="grade" *ngIf="unit?.shatter >= 14.01">SS</span>
            <span class="value">Shatter {{unit?.shatter}}</span>
          </div>
        </div>
      </div>
      <div class="unit-roles">
        <div class="stats-title">Roles</div>
        <div class="top-stats">
          <div *ngFor="let roles of unit.roles" class="roles">
            <img src="assets/effects/buff_{{roles.toLowerCase()}}.png">
            <span>{{roles}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="header-splash" style="background-image: url(&quot;../assets/splashart/{{unit?.slug}}_a3_splashart.webp&quot;);">

    </div>
  </div>
  <div class="body-element">
    <div class="tabs">
      <div class="tab" data-tab="profile" (click)="setActiveTab(unit)" [class.active]="activeTab === unit">
        <img src="assets/other/profile-icon.svg" alt="Profile Icon">
        <span>Profile</span>
      </div>
      <div class="tab" data-tab="matrix" (click)="setActiveTab(unit)" [class.active]="activeTab === unit">
        <img src="assets/other/matrix-icon.svg" alt="Matrix Icon">
        <span>Matrix</span>
      </div>
      <div class="tab" data-tab="materials" (click)="setActiveTab(unit)" [class.active]="activeTab === unit">
        <img src="assets/other/materials-icon.svg" alt="Materials Icon">
        <span>Materials</span>
      </div>
      <div class="tab" data-tab="guide" (click)="setActiveTab(unit)" [class.active]="activeTab === unit">
        <img src="assets/other/guide-icon.svg" alt="Guide Icon">
        <span>Guide</span>
      </div>
    </div>
    <div class="profile-part">
      <div class="info-selection">
        <a class="info" (click)="setActiveInfo($event)" #info>Advancements</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Effects</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Attacks</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Dodge</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Skill</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Discharge</a>
        <a class="info" (click)="setActiveInfo($event)" #info>Trait</a>
        <div class="underline"></div>
      </div>
      <div class="scroll">
        <!-- ADVANCEMENTS-->
        <div *ngIf="activeInfo === 'Advancements'">
          <div class="advancements-table">
            <div class="advancements-table-row">
              <div class="advancements-star-column">
                1 ★
              </div>
              <div class="advancements-text-column">
                <div *ngFor="let item of unit?.oneStar">
                  <p>{{ item.paragraph }}</p>
                </div>
              </div>
            </div>
            <div class="advancements-table-row">
              <div class="advancements-star-column">
                2 ★
              </div>
              <div class="advancements-text-column">
                <div *ngFor="let item of unit?.twoStar">
                  <p>{{ item.paragraph }}</p>
                </div>
              </div>
            </div>
            <div class="advancements-table-row">
              <div class="advancements-star-column">
                3 ★
              </div>
              <div class="advancements-text-column">
                <div *ngFor="let item of unit?.threeStar">
                  <p>{{ item.paragraph }}</p>
                </div>
              </div>
            </div>
            <div class="advancements-table-row">
              <div class="advancements-star-column">
                4 ★
              </div>
              <div class="advancements-text-column">
                <div *ngFor="let item of unit?.fourStar">
                  <p>{{ item.paragraph }}</p>
                </div>
              </div>
            </div>
            <div class="advancements-table-row">
              <div class="advancements-star-column">
                5 ★
              </div>
              <div class="advancements-text-column">
                <div *ngFor="let item of unit?.fiveStar">
                  <p>{{ item.paragraph }}</p>
                </div>
              </div>
            </div>
            <div class="advancements-table-row">
              <div class="advancements-star-column">
                6 ★
              </div>
              <div class="advancements-text-column">
                <div *ngFor="let item of unit?.sixStar">
                  <p>{{ item.paragraph }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EFFECTS -->
        <div *ngIf="activeInfo === 'Effects'">
          <div class="attack-wrap">
            <div class="attack-container" *ngFor="let item of unit?.effects">
              <div class="attack-heading-wrap">
                <div class="attack-heading">
                  <div class="attack-name">{{ item.name }}</div>
                </div>
              </div>
              <div class="attack-description">
                <div class="attack-paragraph" *ngFor="let desc of item.description">
                  <p>{{ desc.paragraph }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ATTACKS-->
        <div class="attacks-scroll" *ngIf="activeInfo === 'Attacks'">
          <div class="attack-wrap">
            <div class="attack-container" *ngFor="let item of unit?.attacks">
              <div class="attack-heading-wrap">
                <img src="assets/simulacra/abilities/{{item.icon}}" alt="Normal Attack Icon">
                <div class="attack-heading">
                  <div class="attack-name">{{ item.name }}</div>
                  <div class="attack-method-wrap">
                    <div class="attack-method" *ngFor="let meth of item.method">
                      <div *ngIf="meth">
                        <p>{{ meth }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="attack-description">
                <div class="attack-paragraph" *ngFor="let desc of item.description">
                  <p>{{ desc.paragraph }}</p>
                </div>
              </div>
              <div *ngIf="item.hasChain">
                <ul>
                  <li *ngFor="let combo of item.chain; let i = index">
                    <span class="number">{{ i + 1 }}</span>
                    <span>.</span>
                    <span class="text">{{ combo.combo }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- DODGE-->
        <div *ngIf="activeInfo === 'Dodge'">
          <div class="attack-wrap">
            <div class="attack-container" *ngFor="let item of unit?.dodge">
              <div class="attack-heading-wrap">
                <img src="assets/simulacra/abilities/{{item.icon}}" alt="Dodge Attack Icon">
                <div class="attack-heading">
                  <div class="attack-name">{{ item.name }}</div>
                  <div class="attack-method-wrap">
                    <div class="attack-method" *ngFor="let meth of item.method">
                      <div *ngIf="meth">
                        <p>{{ meth }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="attack-description">
                <div class="attack-paragraph" *ngFor="let desc of item.description">
                  <p>{{ desc.paragraph }}</p>
                </div>
              </div>
              <div *ngIf="item.hasChain">
                <ul>
                  <li *ngFor="let combo of item.chain; let i = index">
                    <span class="number">{{ i + 1 }}</span>
                    <span>.</span>
                    <span class="text">{{ combo.combo }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- SKILLS-->
        <div *ngIf="activeInfo === 'Skill'">
          <div class="attack-wrap">
            <div class="attack-container" *ngFor="let item of unit?.skill">
              <div class="attack-heading-wrap">
                <img src="assets/simulacra/abilities/{{item.icon}}" alt="Skill Icon">
                <div class="attack-heading">
                  <div class="attack-name">{{ item.name }}</div>
                </div>
              </div>
              <div class="attack-description">
                <div class="attack-paragraph" *ngFor="let desc of item.description">
                  <p>{{ desc.paragraph }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- DISCHARGE-->
        <div *ngIf="activeInfo === 'Discharge'">
          <div class="attack-wrap">
            <div class="attack-container" *ngFor="let item of unit?.discharge">
              <div class="attack-heading-wrap">
                <img src="assets/simulacra/abilities/{{item.icon}}" alt="Discharge Icon">
                <div class="attack-heading">
                  <div class="attack-name">{{ item.name }}</div>
                </div>
              </div>
              <div class="attack-description">
                <div class="attack-paragraph" *ngFor="let desc of item.description">
                  <p>{{ desc.paragraph }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TRAIT-->
        <div *ngIf="activeInfo === 'Trait'">
          <div class="attack-wrap">
            <div class="attack-container" *ngFor="let item of unit?.trait">
              <div class="attack-heading-wrap">
                <img src="assets/simulacra/abilities/{{item.icon}}" alt="Trait Icon">
                <div class="attack-heading">
                  <div class="attack-name">{{ item.affinity }}</div>
                </div>
              </div>
              <div class="attack-description">
                <div class="attack-paragraph" *ngFor="let desc of item.description">
                  <p>{{ desc.paragraph }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="matrix-part">
      <!-- Display 2pc effect -->
      <div *ngIf="matrix['2pc'] && matrix['2pc'].effect">
        <h3>2pc Effect:</h3>
        <div *ngFor="let effect of matrix['2pc'].effect">
          <p>{{ effect.paragraph }}</p>
        </div>
      </div>
      <!-- Display 3pc effect -->
      <div *ngIf="matrix['3pc'] && matrix['3pc'].effect">
        <h3>3pc Effect:</h3>
        <div *ngFor="let effect of matrix['3pc'].effect">
          <p>{{ effect.paragraph }}</p>
        </div>
      </div>
      <!-- Display 4pc effect -->
      <div *ngIf="matrix['4pc'] && matrix['4pc'].effect">
        <h3>4pc Effect:</h3>
        <div *ngFor="let effect of matrix['4pc'].effect">
          <p>{{ effect.paragraph }}</p>
        </div>
      </div>
    </div>
  </div>
</section>