@import '../../styles.scss';

.slider-wrap {
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .materials-slider {
        display: flex;
        flex-direction: column;
        gap: 8px;

        mat-slider {
            width: 100%;
        }
    }

    .materials-augment, .materials-enhance {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .materials-wrap {
            padding: 8px 0 0 0;
        }
    }

    .materials-title {
        font-size: 24px;
        font-weight: 600;
        // padding: 20px 0px 10px 0px;
    }

    .materials-text {
        font-size: 20px;
        font-weight: 200;
        // padding: 0px 0px 10px 0px;
    }

    .materials-req {
        color: #7DC9FF;
    }
}

.materials-wrap {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;

    .material-card {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        border-radius: 8px;
        padding: 5px 10px;
        border: 1px $border solid;

        .content-wrapper {
            position: relative;
            height: 100%;
            display: flex;
            align-items: flex-end;
            background-position: center;
            background-size: 140%;
            background-repeat: no-repeat;

            .details-container {
                display: flex;
                flex-direction: column;
                width: 100%;

                .name {
                    font-size: 22px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: unset;

                }
            }
        }
    }
}

.main {
    position: relative;

    .header-element {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 350px;

        .header-splash {
            position: absolute;
            overflow: visible;
            height: 800px;
            right: 0px;
            top: -50px;
            width: 550px;
            z-index: -100;
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .header-splash_mobile {
            display: none;
        }

        .header-content {
            padding: 20px 20px;
            display: grid;
            grid-template-columns: auto auto;
            /* Two columns of equal width */
            grid-template-rows: auto auto;
            /* Two rows of equal height */
            gap: 10px;
            /* Gap between grid items */

            .unit-description {
                font-size: 16px;
                font-weight: 300;
                font-style: italic;
                max-width: 400px;
            }

            .unit-wrapper {
                display: flex;
                flex-direction: row;
                margin: 0 40px 0 0;

                .unit-avatar {
                    margin: 0 25px 0 0;
                }

                .unit-avatar img {
                    width: 100px;
                    // border: 2px solid $border;
                    // border-radius: 50%;
                }

                .unit-name-element {
                    display: flex;                 
                    flex-direction: column;
                    gap: 4px;

                    .unit-name {
                        color: #F5F5F5;
                        font-size: 24px;
                        font-weight: 600;
                        text-transform: uppercase;
                        line-height: 24px;
                    }

                    .unit-weapon-name {
                        color: #F5F5F5;
                        font-size: 20px;
                        font-weight: 300;
                        font-style: italic;
                    }

                    .unit-element {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        gap: 4px;
                    }

                    .unit-element img {
                        width: 36px;
                    }
                }
            }

            .unit-stats {
                margin: 0 40px 0 0;
            }

            .unit-stats,
            .unit-roles {
                display: flex;
                flex-direction: column;
                gap: 14px;
            }

            .roles-grid {

                display: grid;
                max-width: fit-content;
                grid-template-columns: auto auto;
                column-gap: 30px;
                row-gap: 14px;
                /* Two rows of equal height */
                //gap: 5px; /* Gap between grid items */
            }

            .top-stats,
            .bottom-stats {
                display: flex;
                gap: 20px;

                .stats {
                    .grade {
                        line-height: 1;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: bold;
                        color: $content;
                        padding: 4px 8px 2px; // 2px comes from the underside of the grade having extra space
                        background-color: #D9D9D9;
                        transform: skew(-8deg);
                    }
                }
            }

            .stats-title {
                border: 2px solid var(--element-color);
                width: fit-content;
                padding: 4px 18px;
                font-style: italic;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }

    .body-element {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 20px 20px;
        background-color: rgba($content, 0.9);

        .tabs {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            .tab {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border: 1px solid var(--element-color); // first time using one of these, insanely useful actually. check TS.
                padding: 12px 20px;
                cursor: pointer;

                img {
                    width: 28px;
                    height: 28px;
                }

                span {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .tab.active {
                background-color: var(--element-color);
            }
        }

        .matrix-part,
        .materials-part,
        .guide-part {
            display: none;

            .attack-wrap, .slider-wrap {
                margin: 10px 0 0 0;
            }
        }

        .info-selection {
            position: relative;
            display: flex;
            border-bottom: 1px solid $border;
            padding: 0 0 5px 0;
            margin: 10px 0 0 0;

            .info {
                text-transform: uppercase;
                text-align: center;
                color: var(--element-color);
                font-weight: 500;
                cursor: pointer;
                margin: auto; // might be the only time i ever use this 
            }

            .underline {
                position: absolute;
                bottom: 0;
                height: 3px;
                background: white;
                bottom: -2px;
                width: 0;
                left: 0;
            }
        }

        .content-info {
            margin: 30px 0 0 0;
        }

        p {
            font-weight: 300;
            margin: unset;
        }

        .advancements-table {
            padding: 0px 80px;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        .advancements-table-row {
            display: flex;
            width: 100%;
            gap: 30px;
            justify-content: space-between;
            align-items: center;
        }

        .advancements-star-column {
            width: 5%;
        }

        .advancements-text-column {
            width: 95%;
            font-weight: 300;
        }

        .attack-wrap {
            padding: 0px 80px;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            font-weight: 300;

            ul {
                list-style-position: outside;
                padding-left: 0;
            }

            li {
                list-style-type: none;
                display: flex;
                align-items: flex-start;
            }

            span.number {
                width: 0.8rem;
                /* Adjust the width based on your needs */
                text-align: center;

            }

            span.text {
                margin-left: 0.5rem;
                flex: 1;
            }
        }

        .attack-heading-wrap {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 20px;

            .attack-icon {
                width: 80px;
                height: 80px;
            }

            .trait-icon {
                height: 50px;
                width: 50px;
            }
        }

        .attack-name {
            font-size: 24px;
            font-weight: 500;
        }

        .attack-container {
            border-bottom: 1px solid $border;
            padding: 0 0 20px;
        }

        .attack-container:last-child {
            border-bottom: none;
            padding: unset;
        }

        .attack-heading {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .attack-method-wrap {
            display: flex;
            gap: 8px;
        }

        .attack-method {
            padding: 2px 10px;
            color: var(--element-color);
            border-color: var(--element-color);
            border-style: solid;
            border-width: 1px;
        }

        .attack-method p {
            font-weight: 400;
        }

        .attack-description {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0 0 20px 0;
        }
    }
}

.stats,
.roles {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.stats img,
.roles img {
    width: 28px;
}

@media only screen and (max-width: $tablet) {
    .main {
        gap: 40px;

        .header-element {
            flex-direction: column;
            position: relative;
            min-height: unset;

            .header-splash {
                display: none;
            }

            .header-splash_mobile {
                // display: block;
                display: none;

                img {
                    width: 100%;
                }
            }

            .header-content {
                background-color: $content;
                gap: 20px;

                .unit-wrapper {
                    gap: 24px;
                    margin: unset;

                    .unit-avatar {
                        margin: unset;
                    }
                }

                .unit-description {
                    max-width: unset;
                }

                .unit-stats {
                    margin: unset;
                }

                .unit-roles {
                    .roles-grid {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }

        .body-element {
            gap: 32px;
            
            .tabs {
                grid-template-columns: repeat(2, 1fr);
            }

            .profile-part {
                .underline {
                    display: none; // up for debate
                }
            }

            .matrix-part {
                .attack-wrap {
                    padding: unset;

                    .attack-heading-wrap {
                        margin: 0 0 16px 0;
                    }
                }
            }

            .materials-part {
                .slider-wrap {
                    padding: unset;

                    mat-slider {
                        width: calc(100% - 20px);
                    }
                }
            }

            .info-selection {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                border-bottom: unset;
                margin: unset;
                padding: unset;
                gap: 8px;

                .info {
                    border: 1px solid var(--element-color);
                    color: $white;
                    padding: 8px;
                    width: 100%;
                }

                .info.active {
                    background-color: var(--element-color);
                }
            }

            .content-info {
                margin: 32px 0 0 0;

                .attack-wrap {
                    padding: unset;

                    .attack-container {
                        .attack-heading-wrap {
                            margin: 0 0 16px 0;
                        }

                        .attack-description {
                            margin: unset;
                        }
                    }
                }

                .advancements-table {
                    padding: unset;
                    row-gap: 20px;

                    .advancements-table-row {
                        flex-direction: column;
                        align-items: unset;
                        gap: 16px;
                        border-bottom: 1px solid #6A6666;
                        padding: 0 0 20px;

                        .advancements-star-column {
                            width: unset;
                            font-size: 24px;
                        }
                    }

                    .advancements-table-row:last-child {
                        border-bottom: unset;
                        padding: unset;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .main {
        .header-element {
            .header-content {
                display: flex;
                flex-direction: column;

                .unit-wrapper {
                    .unit-name-element {
                        gap: unset;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .main {
        .body-element {
            .tabs {
                grid-template-columns: repeat(1, 1fr);
            }

            .info-selection {
                grid-template-columns: repeat(1, 1fr);
            }

            .attack-method-wrap {
                flex-wrap: wrap;
            }
        }
    }
}