@import '../../styles.scss';

.main {
    max-width: 1220px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .intro {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .titles {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            .title {
                font-size: 36px;
                font-weight: bold;
                margin: unset;
            }
    
            .subtitle {
                font-size: 24px;
                font-weight: 200;
                color: $link;
                margin: unset;
            }
        }

        .description {
            margin: unset;
        }

        .discord {
            display: flex;
            align-items: center;
            gap: 16px;

            .text {
                max-width: 500px;
                width: 100%;
                margin: unset;
            }
        }
    }

    .cards {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 40px 0 0 0;
    }
}

@media only screen and (max-width: $laptop) {
    .main {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (max-width: $tablet) {
    .main {
        .cards {
            grid-template-columns: repeat(1, 1fr);

            app-about-us-card {
                max-width: 500px;
                width: 100%;
            }
        }
    }
}