@import '../../styles.scss';

.main {
    max-width: 1220px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .intro {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .titles {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            .title {
                font-size: 36px;
                font-weight: bold;
                margin: unset;
            }
    
            .subtitle {
                font-size: 24px;
                font-weight: 200;
                color: $link;
                margin: unset;
            }
        }

        .description {
            margin: unset;
        }
    }

    .insertions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 40px 0 0 0;

        .units {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .all-units, .all-matrices {
                position: absolute;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                max-height: 372px; // 3 entries + borders
                max-width: 450px;
                width: 100%;
                overflow-y: auto;

                .entry:first-child {
                    border-top: none;
                }
                
                .entry {
                    background-color: $content;
                    display: flex;
                    gap: 8px;
                    cursor: pointer;
                    border-top: 4px solid $border;

                    .avatar {
                        height: 70px;
                        margin: 10px;
                    }

                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        
                        .name, .description {
                            font-style: italic;
                        }

                        .name {
                            font-size: 18px;
                            color: $link;
                        }

                        .description {
                            font-size: 16px;
                        }
                    }
                }
            }

            .unit {
                display: flex;
                align-items: center;
                gap: 25px;
    
                .simulacra, .matrices {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    .subtitle {
                        align-self: center;
                        font-size: 24px;
                    }

                    .stars {
                        align-self: center;
                        cursor: pointer;

                        .active {
                            path {
                                fill: $white;
                            }
                        }

                        svg, img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
    
                .simulacra {
                    .simulacra-select {
                        align-self: center;
                        cursor: pointer;
                        width: 150px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
    
                .matrices {
                    .matrix-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        .matrix-select-container {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .matrix-select {
                                align-self: center;
                                cursor: pointer;
                                width: 75px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .gear-stats {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .stat {
                display: flex;
                align-items: center;
                gap: 10px;

                .stat-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .stat-input {
                        padding: 4px 8px;
                        background: transparent;
                        border: 2px solid $white;
                        border-radius: 10px;
                        color: $white;
                        -moz-appearance: textfield; // remove "spin buttons" (the up and down arrow)

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    .stat-input:focus {
                        outline: none;
                        border: 2px solid gold;
                    }
                }
            }
        }
    }
}