<div class="unit-wrapper" [attr.data-unit]="matrix.slug" [routerLink]="'/matrix-page/' + matrix.slug">
  <div class="top-card"
    style="background-image: linear-gradient(0deg, #232323 0%, rgba(35, 35, 35, 0.00) 50%), url(&quot;../assets/matrices/{{matrix.slug}}_matrix.webp&quot;);">
    <div class="content-wrapper">
      <div class="{{matrix.tag}}-tag">{{matrix.tag}}</div>
      <div class="details-container">
        <h5 class="name">{{matrix.name}}</h5>
        <div class="type-and-buffs">
          <div class="icons">
            <img src="assets/elements/{{matrix.resonance}}.png" alt="{{matrix.resonance}} resonance">
            <img src="assets/elements/{{matrix.element}}.png" alt="{{matrix.element}} element">
          </div>
          <div class="buffs">
            <img *ngFor="let role of matrix.roles" [src]="'assets/effects/buff_' + role.toLowerCase() + '.png'" [alt]="role">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>