<div class="background"></div>
<section class="main-404">
  <div class="e404">
    <h1 class="error-code">404</h1>
    <div class="message">
      <span>Looks like you're a bit lost.</span>
      <h2>Page Not Found</h2>
      <span>This page doesn't exist.</span>
    </div>
  </div>
  <div class="lead">
    <span>Not to worry! Let's get you back somewhere useful.</span>
    <img class="pipeline" src="assets/other/pipeline.svg" alt="Pipeline">
    <ul class="pages">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/index">Index</a>
      </li>
      <li>
        <a routerLink="/healing">Healing</a>
      </li>
      <li>
        <a routerLink="/guides">Guides</a>
      </li>
      <li>
        <a routerLink="/glossary">Glossary</a>
      </li>
    </ul>
  </div>
</section>