@import '../../styles.scss';

.background {
    background-image: url("../../assets/other/page-not-found-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    position: relative;
    margin: 40px 0 80px 0;
    padding: 0 20px;

    .e404 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        .error-code {
            font-size: 240px;
            font-weight: 500;
            margin: unset;
            padding: 0 20px 0 0;
            border-right: 2px solid $white;
        }

        .message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            gap: 12px;
            padding: 0 0 0 20px;
            border-left: 2px solid $white;

            span {
                font-size: 32px;
            }

            h2 {
                font-size: 64px;
                margin: unset;
            }
        }
    }

    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: fit-content;

        span {
            font-size: 32px;
        }

        img {
            width: 700px;
        }

        .pages {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 875px;
            justify-items: center;

            li {
                font-size: 24px;

                a {
                    transition: 0.2s ease-out;
    
                    &:hover {
                        color: $link;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $laptop) {
    .main-404 {
        .e404 {
            .error-code {
                font-size: 180px;
                text-align: right;
            }

            .message {
                span {
                    font-size: 24px;
                }

                h2 {
                    font-size: 48px;
                    text-align: center;
                }
            }
        }

        .lead {
            gap: 8px;

            img {
                display: none;
            }

            span {
                font-size: 24px;
                text-align: center;
            }

            .pages {
                width: unset;
                gap: 16px;

                li {
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .main-404 {
        gap: 15px;

        .e404 {
            grid-template-columns: repeat(1, 1fr);
            border-bottom: 2px solid $white;
            padding: 0 0 15px 0;

            .error-code {
                font-size: 120px;
                text-align: center;
                padding: unset;
                border-right: unset;
            }

            .message {
                padding: unset;
                border-left: unset;
                align-items: center;

                span {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .main-404 {
        .e404 {
            .error-code {
                font-size: 80px;
            }

            .message {
                h2 {
                    font-size: 32px;
                }
            }
        }

        .lead {
            gap: 12px;

            .pages {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 4px;
                column-gap: 16px;
            }
        }
    }
}