<ng-template #glossaryEntryTemplate let-term>
  <div class="term">
    <h5 class="term-name">{{term?.name}}</h5>
    <!-- we could just use term.description[0].paragraph but this is safer and standardized -->
    <ng-container *ngFor="let desc of term.description">
      <span class="term-description">{{desc?.paragraph}}</span>
    </ng-container>
  </div>
</ng-template>
<section class="main">
  <div class="page-intro">
    <div class="titles">
      <h3 class="title">Glossary</h3>
      <h4 class="subtitle">A Collection of Terms</h4>
    </div>
    <p class="description">This glossary is a collection of both game-specific and general gaming terminology to help new players learn common terms and abbreviations used on this website as well as in the game. If you believe there is another term that should be included, please let us know on Discord.</p>
  </div>
  <div class="term-list">
    <ng-container *ngFor="let term of terms">
      <ng-container *ngTemplateOutlet="glossaryEntryTemplate; context: { $implicit: term }"></ng-container>
    </ng-container>    
  </div>
</section>