@import '../../styles.scss';

.main {
    max-width: 1220px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .intro {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .titles {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            .title {
                font-size: 36px;
                font-weight: bold;
                margin: unset;
            }
    
            .subtitle {
                font-size: 24px;
                font-weight: 200;
                color: $link;
                margin: unset;
            }
        }

        .description {
            margin: unset;
        }
    }

    .entries {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 24px 0 0 0;
        grid-auto-rows: 1fr;
    
        .card {
            background-color: $content;
            border-radius: 10px;
            height: 100%;
            transition: 0.5s ease;
            cursor: pointer;
    
            &:hover {
                transform: translate3D(0,-1px,0) scale(1.02);
            }
           
            .card-img-top {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
    
            .card-body {
                padding: 20px 20px 30px;
    
                .card-title {
                    font-size: 20px;
                    font-weight: 600;
                }
    
                .card-text {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
    }
}