<div class="unit-wrapper" [attr.data-unit]="unit.slug" [routerLink]="'/unit-page/' + unit.slug">
  <div class="top-card"
    style="background-image: linear-gradient(0deg, #232323 0%, rgba(35, 35, 35, 0.00) 50%), url(&quot;../assets/cards/{{unit.slug}}2.png&quot;);">
    <div class="content-wrapper">
      <div class="{{unit.tag}}-tag">{{unit.tag}}</div>
      <div class="details-container">
        <h5 class="name">{{unit.name}}</h5>
        <div class="type-and-buffs">
          <div class="icons">
            <img src="assets/elements/{{unit.resonance}}.png" alt="{{unit.resonance}} resonance">
            <img src="assets/elements/{{unit.element}}.png" alt="{{unit.element}} element">
          </div>
          <div class="buffs">
            <img *ngIf="unit.isMDPS" src="assets/effects/buff_mdps.png" alt="Main DPS">
            <img *ngIf="unit.isBuffer" src="assets/effects/buff_buffer.png" alt="DPS Buffer">
            <img *ngIf="unit.isHeal" src="assets/effects/buff_healer.png" alt="Healer">
            <img *ngIf="unit.isSupportBuffer" src="assets/effects/buff_supportbuffer.png" alt="Support Buffer">
            <img *ngIf="unit.isShatter" src="assets/effects/buff_shatter.png" alt="Shatter">
            <img *ngIf="unit.isTaunt" src="assets/effects/buff_taunt.png" alt="Taunt">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TOP AND BACK SHUFFLE ON HOVER -->
  <div class="back-card"
    style="background-image: linear-gradient(0deg, #232323 0%, rgba(35, 35, 35, 0.00) 50%), url(&quot;../assets/cards/{{unit.slug}}1.png&quot;);">
    <div class="content-wrapper">
      <div class="{{unit.tag}}-tag">{{unit.tag}}</div>
      <div class="details-container">
        <h5 class="name">{{unit.name}}</h5>
        <div class="type-and-buffs">
          <div class="icons">
            <img src="assets/elements/{{unit.resonance}}.png" alt="{{unit.resonance}} resonance">
            <img src="assets/elements/{{unit.element}}.png" alt="{{unit.element}} element">
          </div>
          <div class="buffs">
            <img *ngIf="unit.isMDPS" src="assets/effects/buff_mdps.png" alt="Main DPS">
            <img *ngIf="unit.isBuffer" src="assets/effects/buff_buffer.png" alt="DPS Buffer">
            <img *ngIf="unit.isHeal" src="assets/effects/buff_healer.png" alt="Healer">
            <img *ngIf="unit.isSupportBuffer" src="assets/effects/buff_supportbuffer.png" alt="Support Buffer">
            <img *ngIf="unit.isShatter" src="assets/effects/buff_shatter.png" alt="Shatter">
            <img *ngIf="unit.isTaunt" src="assets/effects/buff_taunt.png" alt="Taunt">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>