<div class="unit-wrapper" [attr.data-unit]="unit.slug" [routerLink]="'/unit-page/' + unit.slug">
  <div class="top-card"
    style="background-image: linear-gradient(0deg, #232323 0%, rgba(35, 35, 35, 0.00) 50%), url(&quot;../assets/cards/{{unit.slug}}2.webp&quot;);">
    <div class="content-wrapper">
      <div class="{{unit.tag}}-tag">{{unit.tag}}</div>
      <div class="details-container">
        <h5 class="name">{{unit.name[0]}}</h5>
        <div class="type-and-buffs">
          <div class="icons">
            <img src="assets/elements/{{unit.resonance}}.png" alt="{{unit.resonance}} resonance">
            <img src="assets/elements/{{unit.element}}.png" alt="{{unit.element}} element">
          </div>
          <div class="buffs">
            <img *ngFor="let role of unit.roles" [src]="processRoleSlug(role)" [alt]="role">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TOP AND BACK SHUFFLE ON HOVER -->
  <div class="back-card"
    style="background-image: linear-gradient(0deg, #232323 0%, rgba(35, 35, 35, 0.00) 50%), url(&quot;../assets/cards/{{unit.slug}}1.webp&quot;);">
    <div class="content-wrapper">
      <div class="{{unit.tag}}-tag">{{unit.tag}}</div>
      <div class="details-container">
        <h5 class="name">{{unit.name.length > 1 ? unit.name[1] : unit.name[0]}}</h5>
        <div class="type-and-buffs">
          <div class="icons">
            <img src="assets/elements/{{unit.resonance}}.png" alt="{{unit.resonance}} resonance">
            <img src="assets/elements/{{unit.element}}.png" alt="{{unit.element}} element">
          </div>
          <div class="buffs">
            <img *ngFor="let role of unit.roles" [src]="processRoleSlug(role)" [alt]="role">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>