<section class="main overview">
  <div class="page-intro">
    <div class="titles">
      <h3 class="title">Index</h3>
      <h4 class="subtitle">Overview</h4>
    </div>
    <p class="description">Here, you will find compiled indexes covering every major part of the game, from simulacra to matrices to relics, all in one central place bundled with tips and more. We will also be adding more indexes to cover Smart Servants and other aspects of the game in the future.</p>
  </div>
  <div class="entries">
    <div class="entry" routerLink="/index/units-index">
      <div class="card">
        <img class="card-img-top" src="assets/backgrounds/index_background1.webp" alt="Card image top">
        <div class="card-body">
          <h5 class="card-title">Simulacra Index</h5>
          <p class="card-text">Information about the weapons in the game.</p>
        </div>
      </div>
    </div>
    <div class="entry" routerLink="/index/matrices-index">
      <div class="card">
        <img class="card-img-top" src="assets/backgrounds/index_background2.webp" alt="Card image top">
        <div class="card-body">
          <h5 class="card-title">Matrices Index</h5>
          <p class="card-text">Matrix chips that can be equipped on weapons.</p>
        </div>
      </div>
    </div>
    <div class="entry" routerLink="/index/relics-index">
      <div class="card">
        <img class="card-img-top" src="assets/backgrounds/index_background3.webp" alt="Card image top">
        <div class="card-body">
          <h5 class="card-title">Relics Index</h5>
          <p class="card-text">Tools that assist the Wanderer in combat and exploration.</p>
        </div>
      </div>
    </div>
  </div>
</section>