/* You can add global styles to this file, and also import other style files */
$main: #18181A; // not final
$content: #29292A; // not final
$white: #F5F5F5; // not final
$border: #6A6666;
$link: #7DC9FF;
// $font: "Inter", sans-serif;
$font: 'Exo', sans-serif;
// $font: 'Exo 2', sans-serif;
$laptop: 1440px;
$tablet: 1024px;
$mobile: 768px;

// TESTING PURPOSES VIEWPORT USED: 1920PX
body {
    margin: 0;
    background-color: $main;
    color: $white;
    font-family: $font;
    overflow-x: clip; // ive no idea when this was introduced but it fixes the overflow-x issue caused by the fixed nav bar
    overflow-y: scroll;
}

.splide-fix {
    z-index: -1;
    position: relative;
    opacity: 0.7;
    height: 100%;

    .splide__arrows, .splide__pagination {
        display: none;
    }

    .splide__track {
        height: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

ul {
    padding: unset;
    margin: unset;
    list-style: none;
}

a {
    text-decoration: none;
    color: #f1f1f1;
}

a:hover {
    color: #f1f1f1;
}

main {
    display: flex;
    justify-content: center;

    app-home {
        width: 100%;
    }

    app-units-index, app-unit-page, app-guides, app-healing-guide, app-about-us { // with how Angular loads pages, just do this for every main component
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0 0 0;
    }
}

.hyperlink {
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
        -webkit-animation: distort-subtle 5s infinite;
        animation: distort-subtle 5s infinite;
    }
}

.white-black, .white-black-medium {
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    transition: 0.25s ease;
    border: 2px solid transparent;

    &:hover {
        background-color: black;
        border: 2px solid white;
        color: white;
        -webkit-animation: distort-subtle 5s infinite;
        animation: distort-subtle 5s infinite;
    }
}

.black-white, .black-white-medium {
    display: inline-block;
    border-radius: 10px;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 16px;
    transition: 0.25s ease;
    border: 2px solid white;

    &:hover {
        border: 2px solid transparent;
        background-color: white;
        color: black;
        -webkit-animation: distort-subtle 5s infinite;
        animation: distort-subtle 5s infinite;
    }
}

.white-black-medium, .black-white-medium {
    padding: 12px 24px;
    font-size: 24px;
    line-height: 1.2;
}

@keyframes distort-subtle {
    20% {
        text-shadow: none;
    }

    21% {
        text-shadow: 2px -1px red, -2px 3px #0ff;
    }

    22% {
        text-shadow: -2px -3px red, 2px 1px #0ff;
    }

    23% {
        text-shadow: 2px 1px red, -4px 1px #0ff;
    }

    24% {
        text-shadow: -4px 1px red, -2px -1px #0ff;
    }

    25% {
        text-shadow: none;
    }

    75% {
        text-shadow: none;
    }

    76% {
        text-shadow: -4px 1px red, -2px -1px #0ff;
    }

    77% {
        text-shadow: -2px -3px red ,2px 1px #0ff;
    }

    78% {
        text-shadow: 2px -1px red, -2px 3px #0ff;
    }

    79% {
        text-shadow: 2px 1px red, -4px 1px #0ff;
    }

    80% {
        text-shadow: none;
    }
}