/* You can add global styles to this file, and also import other style files */
$main: #18181A; // not final
$content: #29292A; // not final
$white: #F5F5F5; // not final
$border: #6A6666;
// $font: "Inter", sans-serif;
$font: 'Exo', sans-serif;
// $font: 'Exo 2', sans-serif;
$laptop: 1440px;
$tablet: 1024px;
$mobile: 768px;

// TESTING PURPOSES VIEWPORT USED: 1920PX
body {
    margin: 0;
    background-color: $main;
    color: $white;
    font-family: $font;
    overflow-x: clip; // ive no idea when this was introduced but it fixes the overflow-x issue caused by the fixed nav bar
    overflow-y: scroll;
}

ul {
    padding: unset;
    margin: unset;
    list-style: none;
}

a {
    text-decoration: none;
    color: #f1f1f1;
}

a:hover {
    color: #f1f1f1;
}

main {
    display: flex;
    justify-content: center;

    app-home {
        width: 100%;
    }

    app-units-index, app-unit-page { // with how Angular loads pages, just do this for every main component
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@keyframes distort-subtle {
    20% {
        text-shadow: none;
    }

    21% {
        text-shadow: 2px -1px red, -2px 3px #0ff;
    }

    22% {
        text-shadow: -2px -3px red, 2px 1px #0ff;
    }

    23% {
        text-shadow: 2px 1px red, -4px 1px #0ff;
    }

    24% {
        text-shadow: -4px 1px red, -2px -1px #0ff;
    }

    25% {
        text-shadow: none;
    }

    75% {
        text-shadow: none;
    }

    76% {
        text-shadow: -4px 1px red, -2px -1px #0ff;
    }

    77% {
        text-shadow: -2px -3px red ,2px 1px #0ff;
    }

    78% {
        text-shadow: 2px -1px red, -2px 3px #0ff;
    }

    79% {
        text-shadow: 2px 1px red, -4px 1px #0ff;
    }

    80% {
        text-shadow: none;
    }
}