<section class="main">
  <h2 class="title-big-center">Matrices</h2>
  <div class="matrices-category-filter">
    <div class="rarity">
      <h5 class="title">Rarity</h5>
      <div class="wrapper">
        <span class="rarity-ssr" data-rarity="ssr">SSR</span>
        <span class="rarity-sr" data-rarity="sr">SR</span>
      </div>
    </div>
    <div class="element">
      <h5 class="title">Element</h5>
      <div class="wrapper">
        <img src="../assets/elements/element_all.png" alt="All Elements" data-element="all" class="active">
        <img src="../assets/elements/element_physical.png" alt="Physical Element" data-element="physical">
        <img src="../assets/elements/element_flame.png" alt="Flame Element" data-element="flame">
        <img src="../assets/elements/element_frost.png" alt="Frost Element" data-element="frost">
        <img src="../assets/elements/element_volt.png" alt="Volt Element" data-element="volt">
        <img src="../assets/elements/element_altered.png" alt="Altered Element" data-element="altered">
      </div>
    </div>
    <div class="type">
      <h5 class="title">Resonance</h5>
      <div class="wrapper">
        <img src="../assets/elements/attack.png" alt="DPS Type" data-type="damage">
        <img src="../assets/elements/benediction.png" alt="Benediction Type" data-type="benediction">
        <img src="../assets/elements/fortitude.png" alt="Fortitude Type" data-type="fortitude">
      </div>
    </div>
    <div class="role">
      <h5 class="title">Buffs</h5>
      <div class="wrapper">
        <img matTooltip="ATK %" src="../assets/effects/buff_atk.png" alt="ATK" data-role="ATK %">
        <img matTooltip="Final Damage %" src="../assets/effects/buff_finaldamage.png" alt="Final Damage" data-role="Final Damage %">
        <img matTooltip="Elemental Damage %" src="../assets/effects/buff_elementaldamage.png" alt="Elemental Damage" data-role="Elemental Damage %">
        <img matTooltip="Damage %" src="../assets/effects/buff_damage.png" alt="Healer Role" data-role="Damage %">
        <img matTooltip="Crit Damage %" src="../assets/effects/buff_critdamage.png" alt="Crit Damage" data-role="Crit Damage %">
        <img matTooltip="Shatter %" src="../assets/effects/buff_shatterpercent.png" alt="Shatter" data-role="shatter">

      </div>
    </div>
  </div>
  <div class="matrices-index">
    <app-matrix-card *ngFor="let matrix of matrices" [matrix]="matrix"></app-matrix-card>
  </div>
</section>