<div class="announcement">
  <div class="announcement-container">
    <img src="assets/other/white-check-circle.svg" alt="Check Circle">
    <span class="announcement-text">1.0 Update Notes - Launch! Nan Yin, Raid Guide and more...</span>
  </div>
  <div class="join-discord">
    <a href="https://discord.gg/FPtYFtpUF3" class="hyperlink-container" target="_blank">
      <span class="join-text">Join us on Discord </span>
      <img src="assets/other/discord-icon.png" alt="Discord Icon">
    </a>
  </div>
</div>
<section class="banner">
  <splide [options]="{type: 'loop', perPage: 1, autoplay: true, interval: 5000}" containerClass="splide-fix">
    <splide-slide>
      <img src="assets/backgrounds/banner_background.webp"/>
    </splide-slide>
    <splide-slide>
      <img src="assets/backgrounds/banner_background.webp"/>
    </splide-slide>
    <splide-slide>
      <img src="assets/backgrounds/banner_background.webp"/>
    </splide-slide>
    <splide-slide>
      <img src="assets/backgrounds/banner_background.webp"/>
    </splide-slide>
    <splide-slide>
      <img src="assets/backgrounds/banner_background.webp"/>
    </splide-slide>
  </splide>
  <div class="content-container">
    <div class="inner">
      <h1 class="title">Arcana Sanctuary</h1>
      <p class="introduction">A comprehensive Tower of Fantasy <br>athenaeum of guides and knowledge</p>
      <a routerLink="/about-us" class="white-black">About Us</a> 
    </div>
  </div>
</section>
<section class="main-home">
  <div class="inner">
    <div class="half visual">
      <div class="wrapper" id="book">
        <a routerLink="" class="handbook">
          <!-- TODO: Add routerLink to each handbook -->
          <div class="title-container">
            <h5 class="title">Origin of War</h5>
          </div>
        </a>
        <a routerLink="" class="handbook">
          <div class="title-container">
            <h5 class="title">Void Abyss</h5>
          </div>
        </a>
        <a routerLink="" class="handbook">
          <div class="title-container">
            <h5 class="title">Challenge Raids</h5>
          </div>
        </a>
        <a routerLink="" class="handbook">
          <div class="title-container">
            <h5 class="title">F. Clash Evolution</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Content Handbooks</h3>
          <p class="quote">“Expertly curated guides that include theory-crafting, explanations and other things I could
            pull out of my ass for this.“</p>
          <span class="name">- Melly</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-home">
  <div class="inner">
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Indexes</h3>
          <p class="quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut tortor eget felis
            maximus ullamcorper.“</p>
          <span class="name">- Someone</span>
        </div>
      </div>
    </div>
    <div class="half visual">
      <div class="wrapper" id="indexes">
        <div class="indexes-block">
          <div class="side-card" id="left" style="background-image: url(&quot;../../assets/backgrounds/hexagons.png&quot;);">
            <div class="content-wrapper" style="background-image: url(&quot;../assets/matrices/{{matrix?.slug}}_matrix.webp&quot;);">
              <div class="{{matrix.tag}}-tag">{{matrix.tag}}</div>
              <div class="details-container">
                <h5 class="name">{{matrix.name}}</h5>
                <div class="type-and-buffs">
                  <div class="icons">
                    <img *ngFor="let element of matrix.element" [src]="'assets/elements/' + element + '.png'" [alt]="element">
                  </div>
                  <div class="buffs" [class]="getRarityClass()">
                    {{matrix.rarity.toUpperCase()}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-card" id="middle" style="background-image: linear-gradient(0deg, #232323 0%, rgba(35, 35, 35, 0.00) 50%), url(&quot;../assets/cards/{{unit?.slug}}2.webp&quot;);">
            <div class="content-wrapper">
              <div class="{{unit?.tag}}-tag">{{unit?.tag}}</div>
              <div class="details-container">
                <h5 class="name">{{unit?.name[0]}}</h5>
                <div class="type-and-buffs">
                  <div class="icons">
                    <img src="assets/elements/{{unit?.resonance}}.png" alt="{{unit?.resonance}} resonance">
                    <img src="assets/elements/{{unit?.element}}.png" alt="{{unit?.element}} element">
                  </div>
                  <div class="buffs">
                    <img *ngFor="let role of unit?.roles" [src]="'assets/effects/buff_' + role?.toLowerCase() + '.png'" [alt]="role">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="side-card" id="right" style="background-image: url(&quot;../../assets/backgrounds/hexagons.png&quot;);">
            <div class="content-wrapper" style="background-image: url(&quot;../assets/relics/{{relic.slug}}_relic.webp&quot;);">
              <div class="{{relic.tag}}-tag">{{relic.tag}}</div>
              <div class="details-container">
                <h5 class="name">{{relic.name}}</h5>
                <div class="type-and-rarity">
                  <div class="icons">
                    <img *ngFor="let role of relic.roles" [src]="'assets/effects/buff_' + role.toLowerCase() + '.png'" [alt]="role">
                    <img [src]="'assets/elements/element_' + relic.elementBoost.replace('boost', '').replace('resistance', '') + '.png'" [alt]="relic.elementBoost">
                  </div>
                  <div class="rarity" [class]="getRarityClass()">
                    {{relic.rarity.toUpperCase()}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-block">
          <a routerLink="/index" class="black-white-medium">Index</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-home">
  <div class="inner">
    <div class="half visual">
      <div class="wrapper" id="geo">
        <div class="top-left">
          <div class="text-rectangle">
            <span>For the guardian...</span>
          </div>
          <div class="icon-block">
            <img src="assets/other/double-cross.svg" alt="Benediction">
          </div>
        </div>
        <a class="black-white-medium special" routerLink="/healing/guide">Healing Guide</a>
        <div class="bottom-right">
          <div class="icon-block">
            <img src="assets/other/target.svg" alt="DPS">
          </div>
          <div class="text-rectangle">
            <span>...and the guarded.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Healing Guide</h3>
          <p class="quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut tortor eget felis
            maximus ullamcorper.“</p>
          <span class="name">- Someone</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-home">
  <div class="inner">
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Teams & Calculator</h3>
          <p class="quote">“No idea if your team is looking right for the job you need? Look no further, it’s all here -
            in one place.“</p>
          <span class="name">- Someone</span>
        </div>
      </div>
    </div>
    <div class="half visual">
      <div class="wrapper" id="teams">
        <div class="bars-block">
          <div class="single-bar-container" id="dps">
            <h5 class="title">DPS</h5>
            <div class="items-container">
              <div class="icon-block">
                <img src="assets/other/target.svg" alt="DPS">
              </div>
              <div class="stat-wrapper">
                <div class="anim-bars-container">
                  <div class="anim-bar" id="heal"></div>
                  <div class="anim-bar" id="damage"></div>
                  <div class="anim-bar" id="tank"></div>
                </div>
                <div class="icons-container">
                  <img src="assets/other/tiny-single-cross.svg" alt="Heal">
                  <img src="assets/other/tiny-target.svg" alt="Damage">
                  <img src="assets/other/tiny-shield.svg" alt="Tank">
                </div>
              </div>
            </div>
          </div>
          <div class="single-bar-container" id="benediction">
            <h5 class="title">HEAL</h5>
            <div class="items-container">
              <div class="icon-block">
                <img src="assets/other/double-cross.svg" alt="Heal">
              </div>
              <div class="stat-wrapper">
                <div class="anim-bars-container">
                  <div class="anim-bar" id="heal"></div>
                  <div class="anim-bar" id="damage"></div>
                  <div class="anim-bar" id="tank"></div>
                </div>
                <div class="icons-container">
                  <img src="assets/other/tiny-single-cross.svg" alt="Heal">
                  <img src="assets/other/tiny-target.svg" alt="Damage">
                  <img src="assets/other/tiny-shield.svg" alt="Tank">
                </div>
              </div>
            </div>
          </div>
          <div class="single-bar-container" id="fortitude">
            <h5 class="title">TANK</h5>
            <div class="items-container">
              <div class="icon-block">
                <img src="assets/other/shield.svg" alt="Tank">
              </div>
              <div class="stat-wrapper">
                <div class="anim-bars-container">
                  <div class="anim-bar" id="heal"></div>
                  <div class="anim-bar" id="damage"></div>
                  <div class="anim-bar" id="tank"></div>
                </div>
                <div class="icons-container">
                  <img src="assets/other/tiny-single-cross.svg" alt="Heal">
                  <img src="assets/other/tiny-target.svg" alt="Damage">
                  <img src="assets/other/tiny-shield.svg" alt="Tank">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-block">
          <a routerLink="/healing/teams" class="black-white-medium">Teams</a>
          <a routerLink="/healing/calculator" class="black-white-medium">Calculator</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-home">
  <div class="inner">
    <div class="half visual">
      <div class="wrapper" id="glossary">
        <div class="terms-block">
          <div class="term-container">
            <h5 class="title">Hyperbody</h5>
            <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
          <div class="term-container">
            <h5 class="title">Graybite</h5>
            <span class="description">Curabitur ut tortor eget felis maximus ullamcorper.</span>
          </div>
          <div class="term-container">
            <h5 class="title">Delay</h5>
            <span class="description">Sed ex cupiditate non, doloremque dolorum natus porro saepe.</span>
          </div>
        </div>
        <div class="buttons-block">
          <a routerLink="/glossary" class="black-white-medium">Glossary</a>
        </div>
      </div>
    </div>
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Glossary</h3>
          <p class="quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut tortor eget felis
            maximus ullamcorper.“</p>
          <span class="name">- Someone</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-home">
  <div class="inner">
    <div class="discord">
      <span class="subtitle">
        Have questions, found a bug or want to discuss?
      </span>
      <div class="images">
        <img src="assets/other/huma-book.webp" alt="Huma Sticker">
        <img src="assets/other/discord-big.png" alt="Discord Logo">
        <img src="assets/other/huma-meryl-think.webp" alt="Huma and Meryl Sticker">
      </div>
      <span class="subtitle">
        Join our community on <a href="https://discord.gg/FPtYFtpUF3" class="hyperlink">Discord</a> and just &#64;Kath
      </span>
    </div>
  </div>
</section>