@import '../../styles.scss';

.announcement {
    display: flex;
    background-color: $main;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;

    .announcement-container,
    .hyperlink-container {
        display: flex;
        gap: 10px;

        .announcement-text {
            line-height: unset;
        }
    }
}

.banner {
    width: 100%;
    height: 700px;
    position: relative;
    background: linear-gradient(90deg, #232323 0%, rgba(35, 35, 35, 0.00) 50%);

    .content-container {
        position: absolute;
        top: 36%;
        margin: 0 0 0 120px;

        .inner {
            .title {
                margin: unset;
                font-size: 84px;
                font-weight: bold;
            }

            .introduction {
                margin: 0 0 12px 0;
                font-size: 32px;
                font-weight: 400;
                line-height: 130%; // 1.3
                font-style: italic;
            }
        }
    }
}

.main-home {
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;

    .inner {
        // this part needs to be re-evaluated for responsive later
        // edit: reevaluated once
        max-width: 1400px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto; // figma has 140px
        // end

        display: grid; // dont know if we should do it like this or flexbox and 50% width, will see whats easier later
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

        .half {
            .wrapper {
                .quote-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    max-width: 500px;
                    width: 100%;

                    .title {
                        font-size: 42px;
                        text-align: center;
                        font-weight: bold;
                        margin: unset;
                    }

                    .quote,
                    .name {
                        font-size: 24px;
                        font-weight: 400;
                        font-style: italic;
                        text-align: center;
                        margin: unset;
                    }
                }
            }

            .wrapper#book {
                display: flex;
                gap: 20px;

                .handbook {
                    width: 140px;
                    height: 325px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    border-radius: 5px;
                    background-image: url("../../assets/backgrounds/placeholder_background.webp");
                    background-position: center;
                    background-size: cover;
                    transition: 0.25s ease;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);

                        .title-container {
                            background: linear-gradient(180deg, #4E19E4 0%, rgba(35, 35, 35, 0.00) 100%);
                        }
                    }

                    .title-container {
                        height: 50%;
                        width: 100%;
                        background: linear-gradient(180deg, #232323 0%, rgba(35, 35, 35, 0.00) 100%);

                        .title {
                            font-size: 16px;
                            font-style: italic;
                            font-weight: 400;
                            margin: 12px 0 0 0;
                            text-align: center;
                        }
                    }
                }
            }

            // oh boy this whole section is going to be one NASTY hack
            // this is why you tell designers to go fuck themselves (in this case me) and make them do it in code
            .wrapper#geo {
                display: block;
                width: 500px;
                height: 300px;
                position: relative;

                .text-rectangle,
                .icon-block {
                    background-color: $content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    font-style: italic;
                    font-weight: 400;
                    height: 100px;
                }

                .text-rectangle {
                    width: 300px;
                }

                .icon-block {
                    width: 100px;
                }

                .top-left {
                    .text-rectangle {
                        border-radius: 10px 10px 10px 0px;
                    }

                    .icon-block {
                        border-radius: 0px 0px 10px 10px;
                        background-image: linear-gradient(0deg, #35E419 0%, rgba(35, 35, 35, 0.00) 100%);
                    }
                }

                .special {
                    // sinful shit right here
                    z-index: 1;
                    position: absolute;
                    right: 148px;
                    top: 122px;
                }

                .bottom-right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    position: relative;
                    right: 0;
                    bottom: 100px;

                    .text-rectangle {
                        border-radius: 10px 0px 10px 10px;
                    }

                    .icon-block {
                        border-radius: 10px 10px 0px 0px;
                        background-image: linear-gradient(180deg, #E41919 0%, rgba(35, 35, 35, 0.00) 100%);
                    }
                }
            }

            .wrapper#teams {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .bars-block {
                    display: flex;
                    gap: 20px;

                    .single-bar-container {
                        .title {
                            text-align: center;
                            font-size: 24px;
                            font-weight: 700;
                            margin: 0 0 10px 0;
                            line-height: 0.9;
                        }

                        .items-container {
                            .icon-block {
                                background-color: $content;
                                height: 125px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 24px;
                                font-style: italic;
                                font-weight: 400;
                                border-radius: 10px 10px 0 0;

                                img {
                                    width: 62.5px;
                                }
                            }

                            .stat-wrapper {
                                background-color: $content;
                                height: 250px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: 5px;
                                border-radius: 0 0 10px 10px;
                                padding: 10px 15px;

                                .anim-bars-container,
                                .icons-container {
                                    display: flex;
                                    align-items: flex-end;
                                    gap: 10px;
                                    width: 100%;
                                    align-items: flex-end;
                                    justify-content: space-around;
                                }

                                .anim-bars-container {
                                    height: 100%;

                                    .anim-bar {
                                        width: 100%;
                                        height: 0px;
                                        transition: 1s ease-in;
                                        border-radius: 2px;

                                        &#heal {
                                            background: linear-gradient(180deg, #35E419 0%, rgba(53, 228, 25, 0.00) 100%);
                                        }

                                        &#damage {
                                            background: linear-gradient(180deg, #E41919 0%, rgba(228, 25, 25, 0.00) 100%);
                                        }

                                        &#tank {
                                            background: linear-gradient(180deg, #ECF00C 0%, rgba(236, 240, 12, 0.00) 100%);
                                        }
                                    }

                                }

                                .icons-container {
                                    img {
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                            }
                        }

                        // All the "hover" effects here should be changed to activate when the user scrolls down enough to see the element
                        // Placeholder for now
                        // &:after CAN GO SUCK A FUCK JUST DO IT IN JQUERY LATER

                        &#dps {
                            .items-container {
                                .icon-block {
                                    background-image: linear-gradient(180deg, #E41919 0%, rgba(35, 35, 35, 0.00) 100%);
                                }
                            }
                        }

                        &#benediction {
                            .items-container {
                                .icon-block {
                                    background-image: linear-gradient(180deg, #35E419 0%, rgba(35, 35, 35, 0.00) 100%);
                                }
                            }
                        }

                        &#fortitude {
                            .items-container {
                                .icon-block {
                                    background-image: linear-gradient(180deg, #ECF00C 0%, rgba(35, 35, 35, 0.00) 100%);
                                }
                            }
                        }
                    }
                }

                .buttons-block {
                    display: flex;
                    gap: 10px;
                }
            }

            .wrapper#glossary {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .terms-block {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .term-container {
                        max-width: 450px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 24px;

                        .title {
                            font-size: 24px;
                            color: $link;
                            margin: unset;
                            text-align: center;
                        }

                        .description {
                            width: 100%;
                            font-family: "Flow Circular", system-ui;
                            font-weight: 400;
                            font-style: normal;
                        }
                    }
                }
            }

            .wrapper#indexes {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                
                .indexes-block {
                    display: flex;
                    align-items: center;
                    position: relative;

                    .side-card {
                        position: relative;
                        height: 232px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat; // weird edge case
                        border-radius: 8px;
                        padding: 10px;
                        border: 1px $border solid;

                        .content-wrapper {
                            position: relative;
                            height: 100%;
                            display: flex;
                            align-items: flex-end;
                            background-position: 80% -10%;
                            background-size: 90%;
                            background-repeat: no-repeat; // weird edge case
                        }
                    }

                    .side-card, .main-card {
                        width: 212px;
                        transition: 0.2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            transform: translateY(-15px);
                        }
                    }

                    .side-card#right {
                        rotate: 15deg;
                        top: 20px;
                        right: 50px;
                
                        .content-wrapper {
                            .utility-tag {
                                font-size: 10px;
                                background-color: #AE150B;
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .battle-tag {
                                font-size: 10px;
                                background-color: #1f71b4;
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .standard-tag {
                                font-size: 10px;
                                background-color: rgb(192, 112, 15);
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .details-container {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                gap: 2px;
                
                                .name {
                                    font-size: 20px;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    margin: unset;
                                }
                
                                img {
                                    width: 28px;
                                    height: fit-content;
                                }
                
                                .type-and-rarity {
                                    display: flex;
                                    width: 100%;
                                    flex-direction: row;
                                    justify-content: space-between;
                
                                    .icons,
                                    .rarity {
                                        font-weight: 600;
                                        font-size: 20px;
                                        display: flex;
                                        flex-direction: row;
                                        gap: 2px;
                                        align-items: center;
                                        line-height: normal;
                                    }
                                }
                            }
                        }
                    }

                    .side-card#left {
                        rotate: -15deg;
                        top: 20px;
                        left: 50px;
                
                        .content-wrapper {                
                            .new-tag {
                                font-size: 10px;
                                background-color: #AE150B;
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .meta-tag {
                                font-size: 10px;
                                background-color: #1f71b4;
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .standard-tag {
                                font-size: 10px;
                                background-color: rgb(192, 112, 15);
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .details-container {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                gap: 2px;
                
                                .name {
                                    font-size: 20px;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    margin: unset;
                                }
                
                                img {
                                    width: 28px;
                                    height: fit-content;
                                }
                
                                .type-and-buffs {
                                    display: flex;
                                    width: 100%;
                                    flex-direction: row;
                                    justify-content: space-between;
                
                                    .icons,
                                    .buffs {
                                        font-weight: 600;
                                        font-size: 20px;
                                        display: flex;
                                        flex-direction: row;
                                        gap: 2px;
                                    }
                                }
                            }
                        }
                    }

                    .main-card#middle {
                        z-index: 3;
                        position: relative;
                        width: 212px;
                        height: 286px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat; // weird edge case
                        border-radius: 8px;
                        padding: 10px;
                
                        // this is better on the cards themselves rather than the unit-wrapper
                        // as when the back-card gets put on top, it doesn't have a border to distinguish itself from the body
                
                        border: 1px $border solid;
                
                        .content-wrapper {
                            position: relative;
                            height: 100%;
                            display: flex;
                            align-items: flex-end;
                
                            .new-tag {
                                font-size: 10px;
                                background-color: #AE150B;
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .meta-tag {
                                font-size: 10px;
                                background-color: #1f71b4;
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .standard-tag {
                                font-size: 10px;
                                background-color: rgb(192, 112, 15);
                                border-radius: 8px 0 8px 0;
                                width: fit-content;
                                padding: 2px 6px;
                                position: absolute;
                                text-transform: capitalize;
                                top: 0;
                            }
                
                            .details-container {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                gap: 2px;
                
                                .name {
                                    font-size: 20px;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    margin: unset;
                                }
                
                                img {
                                    width: 28px;
                                    height: fit-content;
                                }
                
                                .type-and-buffs {
                                    display: flex;
                                    width: 100%;
                                    flex-direction: row;
                                    justify-content: space-between;
                
                                    .icons,
                                    .buffs {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inner:has(.discord) {
        grid-template-columns: repeat(1, 1fr);

        .discord {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            max-width: 1100px;
            width: 100%;
            background-color: #5865F2;
            border-radius: 50px;
            padding: 25px 75px;

            .subtitle {
                font-size: 24px;
                font-style: italic;
                text-align: center;
                font-weight: 400;
            }

            .images {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                img {
                    height: 200px;
                }
            }
        }
    }
}

.ssr-class {
    color: #FFDB9B;
    /* Define styles for SSR rarity */
}

.sr-class {
    color: #D6CDFF;
    /* Define styles for SR rarity */
}

// .flowc {
//     font-family: 'Flow Circular', system-ui;
//     font-weight: 400;
//     font-style: normal;
// }

@media only screen and (max-width: 1240px) {
    .main-home {
        margin: 80px 0 0 0;

        .inner {
            display: flex;
            flex-direction: column;
            grid-template-columns: unset;
            justify-items: unset;
            gap: 48px;

            .half {
                .wrapper {
                    .quote-block {
                        max-width: 700px;
                    }
                }

                .wrapper#glossary {
                    .terms-block {
                        .term-container {
                            max-width: 500px;
                        }
                    }
                }
            }
        }
    }

    .main-home:nth-child(odd) {
        .inner {
            flex-direction: column-reverse;
        }
    }
}

@media only screen and (max-width: $laptop) {
    .banner {
        height: 500px;

        .content-container {
            margin: unset;
            top: unset;
            bottom: 40px;
            left: 40px;

            .inner {
                .title {
                    font-size: 64px;
                }
                
                .introduction {
                    font-size: 24px;
                }
            }
        }
    }

    .main-home {
        .inner:has(.discord) {
            .discord {
                .images {
                    gap: 25px;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 175px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .announcement {
        .join-discord {
            display: none;
        }
    }

    .banner {
        height: 400px;

        .content-container {
            bottom: 20px;
            left: 20px;

            .inner {
                .title {
                    font-size: 48px;
                }

                .introduction {
                    font-size: 20px;
                }
            }
        }
    }

    .main-home {
        .inner {
            gap: 32px;
            width: 100%;

            .half.text {
                .wrapper {
                    .quote-block {
                        gap: 8px;
                        max-width: 600px;

                        .title {
                            font-size: 32px;
                        }

                        .quote, .name {
                            font-size: 16px;
                        }
                    }
                }
            }

            .half.visual {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .half {
                .wrapper#book {
                    max-width: 600px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    
                    .handbook {
                        width: unset;
                        height: 300px;

                        .title-container {
                            .title {
                                font-size: 20px;
                            }
                        }
                    }
                    
                    .handbook:hover {
                        transform: scale(1.05);
                    }
                }

                .wrapper#indexes {
                    overflow-x: hidden;

                    .indexes-block {
                        .side-card#left {
                            left: 75px;
                        }
    
                        .side-card#right {
                            right: 75px;
                        }
                    }
                }

                .wrapper#glossary {
                    .terms-block {
                        .term-container {
                            .title {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        .inner:has(.discord) {
            .discord {
                gap: 8px;
                padding: 20px;
                border-radius: 20px;

                .subtitle {
                    font-size: 20px;
                }

                .images {
                    img:first-child, img:last-child {
                        display: none;
                    }

                    img {
                        height: 150px;
                    }
                }
            }
        }
    }

    .main-home:nth-child(3) { // look away
        margin: 40px 0 0 0;
    }
}

@media only screen and (max-width: 600px) {
    .main-home {
        .inner {
            .half {
                .wrapper#indexes {
                    .indexes-block {
                        .side-card#left {
                            left: 125px;
                        }

                        .side-card#right {
                            right: 125px;
                        }
                    }
                }

                .wrapper#geo {
                    max-width: 500px;
                    height: unset;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .black-white-medium.special {
                        position: unset;
                        width: max-content;
                        align-self: center;
                    }
                    
                    .top-left, .bottom-right {
                        .icon-block {
                            display: none;
                        }

                        .text-rectangle {
                            border-radius: 10px;
                            max-width: 275px;
                            height: 80px;
                            width: 100%;
                        }
                    }

                    .top-left {
                        .text-rectangle {
                            background-image: linear-gradient(90deg, #35E419 0%, rgba(35, 35, 35, 0) 50%);
                        }
                    }

                    .bottom-right {
                        position: unset;
                        
                        .text-rectangle {
                            background-image: linear-gradient(90deg, rgba(35, 35, 35, 0) 50%, #E41919 100%);
                        }
                    }
                }

                .wrapper#teams {
                    .title {
                        font-size: 20px;
                    }

                    .bars-block {
                        .single-bar-container {
                            .items-container {
                                .icon-block {
                                    height: 100px;

                                    img {
                                        width: 50px;
                                    }
                                }

                                .stat-wrapper {
                                    width: 100px;
                                    height: 200px;
                                    padding: 8px 15px;

                                    .anim-bars-container {
                                        gap: 5px;
                                    }

                                    .icons-container {
                                        gap: 5px;

                                        img {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .inner:has(.discord) {
            .discord {
                border-radius: 10px;

                .images {
                    img {
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .main-home {
        .inner {
            .half {
                .wrapper#indexes {
                    .indexes-block {
                        .side-card {
                            display: none;
                        }
                    }
                }

                .wrapper#glossary {
                    .terms-block {
                        .term-container {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 12px;

                            .title {
                                text-align: left;
                                width: 100%;
                                padding: 0 0 8px 0;
                                border-bottom: 1px solid #6A6666;
                            }
                        }
                    }
                }
            }

            .half.text {
                .wrapper {
                    .quote-block {
                        gap: 4px;

                        .title {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .announcement {
        padding: 12px 20px;
    }

    .banner {
        .content-container {
            .inner {
                .title {
                    font-size: 32px;
                    margin: 0 0 8px 0;
                }

                .introduction {
                    font-size: 18px;
                }
            }
        }
    }

    .main-home {
        .inner {
            .half {
                .wrapper#indexes {
                    .indexes-block {
                        .side-card {
                            .content-wrapper {
                                background-position: 50% 10%;
                            }
                        }
                    }
                }

                .wrapper#book {      
                    .handbook {
                        .title-container {
                            .title {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        .inner:has(.discord) {
            .discord {
                .images:nth-child(2) {
                    display: none;
                }

                .subtitle {
                    font-size: 16px;
                }
            }
        }
    }
}