<div class="announcement">
  <div class="announcement-container">
    <img src="assets/other/white-check-circle.svg" alt="Check Circle">
    <span class="announcement-text">1.0 Update Notes - Launch! Nan Yin, Raid Guide and more...</span>
  </div>
  <div class="join-discord">
    <a href="https://discord.gg/FPtYFtpUF3" class="hyperlink-container" target="_blank">
      <span class="join-text">Join us on Discord </span>
      <img src="assets/other/discord-icon.png" alt="Discord Icon">
    </a>
  </div>
</div>
<section class="banner">
  <splide [options]="{type: 'loop', perPage: 1, autoplay: true, interval: 5000}" containerClass="splide-fix">
    <splide-slide>
      <img src="assets/backgrounds/banner_background.jpg"/>
    </splide-slide>
    <splide-slide>
      <img src="assets/backgrounds/banner_background.jpg"/>
    </splide-slide>
    <splide-slide>
      <img src="assets/backgrounds/banner_background.jpg"/>
    </splide-slide>
    <splide-slide>
      <img src="assets/backgrounds/banner_background.jpg"/>
    </splide-slide>
    <splide-slide>
      <img src="assets/backgrounds/banner_background.jpg"/>
    </splide-slide>
  </splide>
  <div class="content-container">
    <div class="inner">
      <h1 class="title">Arcana Sanctuary</h1>
      <p class="introduction">A comprehensive Tower of Fantasy <br>athenaeum of guides and knowledge</p>
      <a routerLink="/about-us" class="white-black">About Us</a> 
    </div>
  </div>
</section>
<section class="main">
  <div class="inner">
    <div class="half visual">
      <div class="wrapper" id="book">
        <a routerLink="" class="handbook">
          <!-- TODO: Add routerLink to each handbook -->
          <div class="title-container">
            <h5 class="title">Origin of War</h5>
          </div>
        </a>
        <a routerLink="" class="handbook">
          <div class="title-container">
            <h5 class="title">Void Abyss</h5>
          </div>
        </a>
        <a routerLink="" class="handbook">
          <div class="title-container">
            <h5 class="title">Challenge Raids</h5>
          </div>
        </a>
        <a routerLink="" class="handbook">
          <div class="title-container">
            <h5 class="title">F. Clash Evolution</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Content Handbooks</h3>
          <p class="quote">“Expertly curated guides that include theory-crafting, explanations and other things I could
            pull out of my ass for this.“</p>
          <span class="name">- Melly</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="inner">
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Healing Guide</h3>
          <p class="quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut tortor eget felis
            maximus ullamcorper.“</p>
          <span class="name">- Someone</span>
        </div>
      </div>
    </div>
    <div class="half visual">
      <div class="wrapper" id="geo">
        <div class="top-left">
          <div class="text-rectangle">
            <span>For the guardian...</span>
          </div>
          <div class="icon-block">
            <img src="assets/other/double-cross.svg" alt="Benediction">
          </div>
        </div>
        <a class="black-white-medium special" routerLink="/healing/guide">Healing Guide</a>
        <div class="bottom-right">
          <div class="icon-block">
            <img src="assets/other/target.svg" alt="DPS">
          </div>
          <div class="text-rectangle">
            <span>...and the guarded.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="inner">
    <div class="half visual">
      <div class="wrapper" id="teams">
        <div class="bars-block">
          <div class="single-bar-container" id="dps">
            <h5 class="title">DPS</h5>
            <div class="items-container">
              <div class="icon-block">
                <img src="assets/other/target.svg" alt="DPS">
              </div>
              <div class="stat-wrapper">
                <div class="anim-bars-container">
                  <div class="anim-bar" id="heal"></div>
                  <div class="anim-bar" id="damage"></div>
                  <div class="anim-bar" id="tank"></div>
                </div>
                <div class="icons-container">
                  <img src="assets/other/tiny-single-cross.svg" alt="Heal">
                  <img src="assets/other/tiny-target.svg" alt="Damage">
                  <img src="assets/other/tiny-shield.svg" alt="Tank">
                </div>
              </div>
            </div>
          </div>
          <div class="single-bar-container" id="benediction">
            <h5 class="title">HEAL</h5>
            <div class="items-container">
              <div class="icon-block">
                <img src="assets/other/double-cross.svg" alt="Heal">
              </div>
              <div class="stat-wrapper">
                <div class="anim-bars-container">
                  <div class="anim-bar" id="heal"></div>
                  <div class="anim-bar" id="damage"></div>
                  <div class="anim-bar" id="tank"></div>
                </div>
                <div class="icons-container">
                  <img src="assets/other/tiny-single-cross.svg" alt="Heal">
                  <img src="assets/other/tiny-target.svg" alt="Damage">
                  <img src="assets/other/tiny-shield.svg" alt="Tank">
                </div>
              </div>
            </div>
          </div>
          <div class="single-bar-container" id="fortitude">
            <h5 class="title">TANK</h5>
            <div class="items-container">
              <div class="icon-block">
                <img src="assets/other/shield.svg" alt="Tank">
              </div>
              <div class="stat-wrapper">
                <div class="anim-bars-container">
                  <div class="anim-bar" id="heal"></div>
                  <div class="anim-bar" id="damage"></div>
                  <div class="anim-bar" id="tank"></div>
                </div>
                <div class="icons-container">
                  <img src="assets/other/tiny-single-cross.svg" alt="Heal">
                  <img src="assets/other/tiny-target.svg" alt="Damage">
                  <img src="assets/other/tiny-shield.svg" alt="Tank">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-block">
          <a routerLink="/healing/teams" class="black-white-medium">Teams</a>
          <a routerLink="/healing/calculator" class="black-white-medium">Calculator</a>
        </div>
      </div>
    </div>
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Teams & Calculator</h3>
          <p class="quote">“No idea if your team is looking right for the job you need? Look no further, it’s all here -
            in one place.“</p>
          <span class="name">- Someone</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="inner">
    <div class="half text">
      <div class="wrapper">
        <div class="quote-block">
          <h3 class="title">Glossary</h3>
          <p class="quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut tortor eget felis
            maximus ullamcorper.“</p>
          <span class="name">- Someone</span>
        </div>
      </div>
    </div>
    <div class="half visual">
      <div class="wrapper" id="glossary">

      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="inner">
    <div class="discord">
      <span class="subtitle">
        Have questions, found a bug or want to discuss?
      </span>
      <div class="images">
        <img src="assets/other/huma-book.webp" alt="Huma Sticker">
        <img src="assets/other/discord-big.png" alt="Discord Logo">
        <img src="assets/other/huma-meryl-think.webp" alt="Huma and Meryl Sticker">
      </div>
      <span class="subtitle">
        Join our community on <a href="https://discord.gg/FPtYFtpUF3" class="hyperlink">Discord</a> and just @Kath
      </span>
    </div>
  </div>
</section>